<div class="container-fluid vh-100">
  <div class="row">
    <h1 class="text-center fw-bold text-dark mt-4">Cart Ecommerce</h1>
    <div class="col">
      <div id="productos"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-end">
        <button
          class="btn btn-success"
          onclick="actualizarYComprar()"
        >Purchase</button>
      </div>
    </div>
  </div>
</div>