<div
  class="container-fluid vh-100"
  style="background-image: url('/assets/img/rm373batch9-034.jpg'); background-size: cover; background-position: center;">
  <div class="row">
    <div class="col">
      <div class="bg-secondary p-2">
        <h1 class="text-center fw-bold text-dark mt-4 bg-secondary"><<span style="color:#f4ff80;">CODER BACKEND ECOMMERCE</span>/></h1>
      </div>
      <div class="intro d-flex justify-content-center align-items-end" style="height:200px;">
        <div class="">
          <h3 class="text-start fw-bold text-dark mt-4">This is a simple ecommerce made with NodeJS, Express, Handlebars, MongoDB, Socket.io, Passport, and more...</h3>
          <p class="lead fw-bold">Here are some products examples you can find. Please visist our products section by click in <a href="/products" class="text-danger">here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>