<div class="container-fluid vh-100">
  <div class="row">
    <h1 class="text-center fw-bold text-dark mt-4">Login</h1>
    <div class="col-12 col-md-4"></div>
    <div class="col-12 col-md-4">
      <form class="p-4" id="loginForm">
        <div class="mb-3">
          <label class="form-label">User</label>
          <input
            type="text"
            class="form-control"
            placeholder="JohnDoe@CoderHouse.com"
            name="email"
            id="email"
            required
          />
        </div>
        <div class="col">
          <label class="form-label">Password</label>
          <div class="d-flex gap-3"><input
              type="password"
              class="form-control"
              placeholder="Insert your password"
              name="password"
              id="inputPassword"
              required
            />

            <div
              class="fs-7 d-flex align-items-center justify-content-center"
              id="showPassword"
              onclick="showPassword()"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-eye-fill"
                viewBox="0 0 16 16"
              >
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                <path
                  d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="col my-3 d-flex gap-3">
          <input type="submit" class="btn btn-primary" value="Login" />
          <div class="text-danger fw-bold" id="error"></div>
        </div>
        <div>
          <a href="/register">Not a Member Yet? Create an Account</a>
        </div>
        <div><a href="/pwforget">Forgot your password?</a></div>
      </form>

      <div class="d-flex align-items-center justify-content-center">
        <a
          name="github"
          class="btn btn-default border border-dark"
          href="/api/sessions/github"
        >
          <svg
            viewBox="0 0 16 16"
            width="24"
            height="24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="#fff"
              fill-rule="evenodd"
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Z"
              clip-rule="evenodd"
            ></path>
            <path
              fill="#1B1F23"
              fill-rule="evenodd"
              d="M8 1a7 7 0 0 0-2.21 13.64c.35.06.47-.15.47-.34v-1.19c-1.95.42-2.36-.94-2.36-.94-.32-.8-.78-1.02-.78-1.02-.64-.44.05-.43.05-.43.7.05 1.07.72 1.07.72.62 1.07 1.64.76 2.04.59.06-.46.24-.76.44-.94-1.55-.18-3.19-.78-3.19-3.46 0-.76.28-1.39.72-1.88-.07-.17-.3-.88.07-1.85 0 0 .59-.19 1.93.72a6.7 6.7 0 0 1 3.5 0c1.34-.9 1.93-.72 1.93-.72.38.97.14 1.68.07 1.85.44.5.72 1.12.72 1.88 0 2.69-1.64 3.28-3.2 3.45.25.22.47.65.47 1.3v1.92c0 .19.12.4.48.34A7 7 0 0 0 8 1"
              clip-rule="evenodd"
            ></path>
          </svg>
          Log in with GitHub
        </a>
      </div>
    </div>
    <div class="col-12 col-md-4"></div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/showPw.js"></script>
<script src="/js/login.js"></script>